@model TDSTecnologia.Site.Web.ViewModels.ContatoViewModel

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Email enviado com sucesso
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>